name: CI

on:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Run pylint
        run: |
          uv venv
          source .venv/bin/activate
          # TODO: installation of dependencies should be improved
          # after support for TOML files for scripts is added.
          # Ref.: https://github.com/astral-sh/uv/issues/5903
          uv pip install pylint
          uv pip install click colorlog python-http-client requests sendgrid
          uv run pylint *.py
